.mypy_cache
.ruff_cache
.venv
data
!/data/divy_trips_limited.csv
.idea
/dist/
/build/
# this is dynamic
*__version__.py
/.coverage
/coverage.xml
/src/*.egg-info/
**/*/.pytest_cache/
/.pdm.toml
/.vscode/settings.json
/examples/.ipynb_checkpoints
